.wishlistPage {
  padding: 175px 20px 48px;
  background: #f8f8f8;
  min-height: 100vh;
  margin-top: 0;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 34px;
  font-weight: 700;
  color: #111;
}

.header span {
  color: #777;
}

.wishlistGrid {
  display: grid;
  grid-template-columns:
    repeat(4, 1fr);
  gap: 25px;
}

.productCard {
  background: white;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #ececec;
  transition: 0.3s;
}

.productCard:hover {
  transform: translateY(-5px);
  box-shadow:
    0 15px 35px
    rgba(0, 0, 0, 0.08);
}

.imageWrapper {
  position: relative;
}

.productImage {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.removeBtn {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 36px;
  height: 36px;

  border: none;
  border-radius: 50%;

  background: white;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}

.productInfo {
  padding: 18px;
}

.productInfo h3 {
  margin-bottom: 10px;
  color: #111;
}

.priceBox {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}

.priceBox span {
  font-weight: 700;
}

.priceBox del {
  color: #999;
}

.cartBtn {
  width: 100%;
  height: 48px;

  border: none;
  border-radius: 10px;

  background: #111;
  color: white;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-weight: 600;
}

.emptyWishlist {
  background: white;
  border-radius: 8px;
  padding: 56px 20px;
  text-align: center;
}

.emptyWishlist svg {
  margin-bottom: 20px;
}

.emptyWishlist h2 {
  margin-bottom: 15px;
}

.emptyWishlist p {
  color: #666;
  margin-bottom: 25px;
}

.emptyWishlist a {
  display: inline-block;
  background: #111;
  color: white;
  padding: 14px 30px;
  border-radius: 10px;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .wishlistGrid {
    grid-template-columns:
      repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .wishlistGrid {
    grid-template-columns:
      repeat(2, 1fr);
  }

  .header {
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
  }

  .header h1 {
    font-size: 28px;
  }
  .wishlistPage {
  padding: 105px 12px 32px;
  margin-top: 0;
}
}

@media (max-width: 480px) {
  .wishlistGrid {
    grid-template-columns: 1fr;
  }

  .productImage {
    height: 300px;
  }

  .header h1 {
    font-size: 28px;
  }
  .wishlistPage {
  margin-top: 0;
}
}
